* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #4C5454;
  background-color:white;
}

h1,
h2,
nav,
#info-signup,
label,
.login-form-p {
  font-family: 'Nunito', sans-serif;
}

p,
h3,
h4 {
  font-family: 'Open Sans';
}

h1 {
  font-size: 250%;
  margin-bottom: 0px;
}

h2 {
  margin-top: 0;
}

.art-page {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.art-info {
  display: flex;
  flex-direction: column;
  margin: .5% 5%
}

.art-title {
  font-size: 1.3em;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  align-self: flex-start;
}

.art-page-h3 {
  font-size: 1.1em;
  margin-top: .5%;
  font-weight: 200;
  align-self: flex-start;
}

.art-page-save {
  font-size: 1.2em;
  margin: 0%;
}

.art-info-btns {
  display: inline;
  text-align: right;
}

.add-to-gallery-btn {
  font-size: 1em;
  display: inline-block;
  text-align: center;
  color: #9763BC;
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 30px;
  margin-top: auto;
  margin-bottom: auto;
  align-self: flex-end;
}

#art-page-save-icon {
  color: #F39237;
}

.art-page-save {
  position: relative;
}

.tooltip-text {
  visibility: hidden;
  font-size: .5em;
  position: absolute;
  z-index: 1;
  width: 60px;
  background-color: #F14193;
  color: white;
  text-align: center;
  border-radius: 3px;
  padding: 5px;
}

.art-page-save:hover .tooltip-text {
  visibility: visible;
}

#art-page-save-icon:hover {
  color: #F14193;
  transition: .3s;
}

#landing-page-pic {
  max-width: 20%;
}

.login-page,
.signup-page {
  width: 80%;
  padding: 3%;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.signup-form-entry > input,
.login-form-entry > input {
  display: block;
  width: 95%;
  margin-top: 1%;
}

.input-error {
  font-size: .6em;
  color:#ff0000;
}

.login-form-entry {
  margin-top: 4%;
}

.login-form > button,
.signup-form > button {
  font-size: 1em;
  color: white;
  background-color: #FF8484;
  border: none;
  border-radius: 30px;
  width: 10em;
}

.login-form > button:hover,
.signup-form > button:hover {
  color: white;
  background-color: #FFA5A5;
  border: none;
  border-radius: 30px;
  width: 10em;
}

.demo-info {
  margin-top: 15%;
  border-top: 1px solid #D9D9D9;
  padding-top: 15%;
}

.login-form-p {
  text-align: left;
  margin: 0;
}

.error-message {
  color: #FF715B;
  color: #FF4023;
  font-weight: bold;
  margin: 1%;
  border-radius: 3px;
  background-color: #FFB1A5;
}

#info-header {
  font-size: 2em;
  margin-bottom: 15px;
}

#info-signup {
  color: #EEB868;
  font-size: 1em;
}

.App {
  text-align: center;
  padding-bottom: 20px;
  overflow: auto;
  min-height: 100vh;
  position: relative;
}

.app-main {
  padding-top: 60px;
  padding-bottom: 60px;
}

.app-header {
  padding-top: 0px;
}

.app-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  }

.app-log-in {
  margin-top: 2%;
}

.social {
  vertical-align: middle;
  padding: 3px;
  width: 25px;
  height: 25px;
}

.app-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1% 0;
}

.app-info-item {
  align-items: center;
  width: 50%;
}

.app-info-icon {
  align-items: center;
  font-size: 1.6em;
}

.link {
  font-size: 1.2em;
  height: 2.5em;
  width: 15em;
  border-radius: 30px;
  border: 3px solid #4DCCBD;
}

.link-login {
  background-color: #4DCCBD;
  color: white;
}

.link-signup {
  color: #4DCCBD;
}

.link-login:hover,
.link-signup:hover {
  background-color: #8DDED5;
  border: 3px solid #8DDED5;
  color: white;
}

.nav {
  display: inline-block;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

nav a {
  color: #404E4D;
  font-weight: 200;
}

nav a:hover {
  border-bottom: 3px solid #16E0BD;
}

.Header__left {
  color: white;
  position: absolute;
  left: 10px;
  top: 20px;
  text-decoration: none;
}

.Header__right {
  color: white;
  position: absolute;
  right: 10px;
  top: 20px;
}

.active {
  font-weight: bold;
  border-bottom: 3px solid #16E0BD;
}

.nav-link, .nav-link-home {
  text-decoration: none;
  padding: 10px;
}

.app-heading {
  font-size: 200%;
  padding: 4% 0;
  margin-top: -18px;
  height: 80vh;
  background: url('https://d3rtf5gv0re40d.cloudfront.net/anzax/53/53857f9f-057d-4c20-b063-c31c09548bbe_1000_695.jpg');
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.random-feature {
  width: 90%;
  align-self: center;
  border-radius: 3px;
}

.gallery-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 2%;
  align-items: center;
  align-content: center;
}

.gallery h2 {
  margin-top: 0;
}

.gallery-image-item {
  display: inline-flex;
  width: 30%;
  flex: 1 1 1;
}

.gallery-image {
  width: 100%;
  border-radius: 2px;
}

.comment-form > label {
  margin: 10px 20% 0px 20%;
  text-align: left;
}

.comments-container {
  margin: 5%;
  padding-bottom: 3%;
  border: 1px solid #ADB1B1;
  border-radius: 3px;
}

.comments-container > h3 {
  font-size: .9em;
  font-weight: bold;
  margin-top: 10px;
  padding-left: 4%;
  text-align: left;
  border-bottom: 1px solid #ADB1B1;
}

.comment-form {
  text-align: center;
  padding-top: 2%;
  margin-bottom: 7%;
  font-size: .9em;
}

#add-comment-btn {
  border-radius: 30px;
  border: 3px solid #EF177C;
  background-color: #EF177C;
  font-size: .9em;
  color: white;
  text-align: center;
  width: 25%;
}

#add-comment-btn:hover {
  background-color: #F14193;
  border: 3px solid #F14193;
}

.art-comments {
  border-radius: 2px;
  color: #698DEA;
  margin: .5% 2%;
  text-align: left;
  padding: 1% 2%;
}

#add-comment {
  width: 90%;
}

.art-comments h6,
.art-comments p {
  display: inline;
  font-size: .8em;
}

input, button {
  height: 30px;
  border: 1px solid grey;
  border-radius: 2px;
  background-color: white;
  margin: 0 5px 5px 5px;
}

button:hover {
  cursor: pointer;
  transition: .4s;
}

@media screen and (max-width: 500px) {
  .app-info-icon {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .app-log-in {
    margin-top: 9%;
  }
}

@media screen and (min-width: 750px) {
  .nav {
    font-size: large;
  }

  .login-page,
  .signup-page {
    width: 40%;
  }

  .signup-form-entry > input,
  .login-form-entry > input {
    width: 250px;
  }

  .add-to-gallery-btn {
    font-size: 1.3em;
    margin-bottom: 3%;
  }
}

@media screen and (min-width:850px) {
  .app-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-evenly;
    padding: 1% 0;
  }

  .random-feature {
    width: 60%;
  }
  
  .art-info {
    margin: .5% 20%
  }
  
  .art-title {
    align-self: flex-start;
  }
  
  .art-page-h3 {
    align-self: flex-start;
  }

  .comments-container {
    margin: 0 20%;
  }
}