* {
  box-sizing: border-box;
}

body {
  /* font-family: 'Roboto', sans-serif; */
  color: #232B2A;
  /* padding-top: 50px; */
  background-color:white;
  /* background-color:#EDEEEE; */

}

h1,
h2,
nav,
#info-signup {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 300%;
  /* color: white; */
}

.art-page {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  /* align-content: center; */
}

/* .art-info {
  font-size: 1em;
} */

.art-title {
  font-size: 1.3em;
  margin-bottom: 1.5%;
}

.art-page-h3 {
  font-size: 1.1em;
  margin-top: 1%;
}

.art-title
{
  font-family: 'Raleway', sans-serif;
}

.art-page-save {
  font-size: 1.2em;
  margin: 0%;
}

.add-to-gallery-btn {
  /* background-color: peru; */
  background-color: #9763BC;
  color: white;
  height: 40px;
  /* width: 200px; */
  border: none;
  border-radius: 30px;
}

#landing-page-pic {
  max-width: 20%;
}

/* .signup-form, */
.signup-form-entry {
  background-color: lightpink;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  align-items: center;
  /* align-content: center; */
}

.signup-form-entry > label,
.signup-form-entry > input {
  flex-grow: 1;
}

.signup-form-entry > label {
  align-items: flex-start;
}

.signup-form-entry > input {
  width: 45%;
  align-items: center;
}

#info-header {
  /* font-family: 'Montserrat', sans-serif; */
  font-size: 2em;
  /* color: #BD178F; */
  color: #BFA4A4;
  margin-bottom: 15px;
}

#info-signup {
  color: #BFA4A4;
  font-size: 1em;
}

.App {
  text-align: center;
  padding-bottom: 20px;
  /* padding-top: 50px; */
  overflow: auto;
  min-height: 90vh;
}

.app-main {
  padding-top: 60px;
}

.app-header {
  padding-top: 0px;
}

/* #nav >  */
#Header__not-logged-in {
  background-color: black;
}

#Header__logged-in {
  background-color: black;
}

.app-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-evenly;
  padding: 1% 0;
  /* color: #9A828D; */
}

.app-info-item {
  width: 30%;
}

.app-info-icon {
  /* color: #3366ff; */
  color: #9A828D;
  font-size: 1.6em;
}

.link {
  font-size: 1.2em;
  height: 2.5em;
  width: 15em;
  border-radius: 30px;
  /* border: 3px solid #98CE00; */
  border: 3px solid #4DCCBD;

}

.link-login {
  /* background-color: #98CE00; */
  background-color: #4DCCBD;
  color: white;
}

.link-signup {
  /* background-color: #98CE00; */
  color: #4DCCBD;
  /* color: white; */
}

.link-login:hover,
.link-signup:hover {
  /* background-color: #688E00;
  border: 3px solid #688E00; */
  background-color: #8DDED5;
  border: 3px solid #8DDED5;
  color: white;
}

/* .app-signup {
  background-color: #5880E8;
  padding: 5% 0;
  vertical-align: auto;
} */

.nav {
  /* position: fixed; */
  display: inline-block;
  /* color: #404E4D; */
  /* color: white; */
  /* background-color: white; */
  /* background-color: #9763BC; */
  /* padding: 1%; */
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  /* padding: 30px 0; */
  /* border-bottom: 1px solid lightgrey; */
}

nav a {
  color: #404E4D;
  /* color: #231651 */
  /* color: white; */
  font-weight: 200;
}

nav a:hover {
  /* border-bottom: 2px solid lightgrey; */
  border-bottom: 2px solid #16E0BD;
}

/* .nav-link-home */
.Header__left {
  /* color: #404E4D; */
  color: white;
  position: absolute;
  left: 0px;
  top: 20px;
  text-decoration: none;
}

/* .hidden {
  display: none;
} */

.Header__right {
  /* color: #404E4D; */
  color: white;
  position: absolute;
  right: 0px;
  top: 20px;
}

.active {
  /* color: orange; */
  /* color: #FC914A; */
  /* color: #FC914A; */
  font-weight: bold;
  border-bottom: 2px solid #404E4D;
}

.nav-link, .nav-link-home {
  text-decoration: none;
  padding: 10px;
}

.nav > #Header__not-logged-in {
  background-color: black;
}

.app-heading {
  /* color: white; */
  font-size: 200%;
  padding: 4% 0;
  background-color: #3366ff;
  height: 750px;
  /* background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Van_Gogh_-_Starry_Night_-_Google_Art_Project.jpg/1280px-Van_Gogh_-_Starry_Night_-_Google_Art_Project.jpg"); */
  background: url('https://d3rtf5gv0re40d.cloudfront.net/anzax/53/53857f9f-057d-4c20-b063-c31c09548bbe_1000_695.jpg');
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-blend-mode: difference; */
  /* background-blend-mode: hard-light; */
}

.random-feature {
  width: 60%;
  align-self: center;
  /* width: 50%; */
  padding-top: 3%;
}

.gallery-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 2%;
  align-items: center;
  align-content: center;
}

.gallery-image-item {
  display: inline-flex;
  width: 30%;
  flex: 1 1 1;
}

.gallery-image {
  width: 100%;
}

.comment-form > label {
  margin: 10px 20% 0px 20%;
  text-align: left;
}

.comments-container > h3 {
  margin: 10px 2% 0px 2%;
  text-align: left;
  /* background-color: lightblue; */
}

/* .comments-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  margin: 2%;
} */

.comment-form {
  text-align: center;
  padding-top: 2%;
}

/* #add-comment {
  text-align: center;
  width: 85%;
  background-color: lightblue;
} */

#add-comment-btn {
  text-align: center;
  width: 10%;
}


.art-comments {
  /* border: black solid 1px; */
  border-radius: 2px;
  /* background-color: #5A82E8; */
  background-color: #698DEA;
  margin: .5% 2%;
  text-align: left;
  padding: 1% 2%;
}

/* .art-comments {
  background-color: lightslategray;
  border-radius: 2px;
  padding: 5px;
  margin-bottom: 2px;
} */

.art-comments h6,
.art-comments p {
  display: inline;
}

input, button {
  height: 30px;
  border: 1px solid grey;
  border-radius: 2px;
  background-color: white;
  margin: 0 5px 5px 5px;
}

button:hover {
  background-color: #339966;
  cursor: pointer;
  transition: .4s;
}

@media screen and (min-width: 750px) {
  /* .app-info, .app-signup {
    display: inline-block;
    width: 50%;
  } */
  #info-signup {
    /* max-height: 550px;
    display: flex; */
    /* background-color: lavender; */
  }
  .nav {
    font-size: large;
  }
  /* .art-comments-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: left;
    width: 70%;
  } */
  /* .art-comments {
    width: 45%;
  } */
  .art-comments {
    margin: .5% 20%;
  }
  .comments-container > h3 {
    margin: 10px 20% 0px 20%;
  }
}